[Unit]
Description=Virtual network %I over overlay edge router UTT.
Documentation=https://github.com/crossmesh/fabric
After=network.target utt.service
Requires=utt.service

[Service]
EnvironmentFile=-/etc/default/utt
User=root
Type=oneshot
ExecStart=/usr/bin/utt -c $CROSSMESH_CONFIG_FILE net set --retry -1 %i up
ExecStop=/usr/bin/utt -c $CROSSMESH_CONFIG_FILE net set --retry 10 %i down
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target